version: "3.9"

services:
  frontend:
    build: ./client
    container_name: client
    ports:
      - "80:80"
    depends_on:
      - backend

  backend:
    build: ./server
    container_name: server
    ports:
      - "3001:3001"
    env_file:
      - ./server/.env
