name: Docker CI/CD

on:
   push: 
    branches: [ "main" ] 
jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                node-version: 24
            
            - name: Login to Docker hub
              uses: docker/login-action@v3

              with:
                username:${{ secrets.DOCKER_USERNAME }}
                password:${{ secrets.DOCKER_PASSWORD }}
            
            - name: Build Frontend Docker image
              run: docker build -t sanjubora84/eadminclient:latest ./client
            - name: Build Backend Docker image
              run: docker build -t sanjubora84/eadminbackend:latest ./server

            - name: Push Frontend image to dockerhub
              run: docker push sanjubora84/eadminclient:latest
            - name: Push Backend image to dockerhub
              run: docker push sanjubora84/eadminbackend:latest

